.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 200px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

.navpill-center{
  text-align: center;
}

.edit_user img{
  width: 50px;
  margin: 10px;
}

.navpill-center > li {
  float: none;
  display: inline-block
}

.ranking-item {
  margin-bottom: 15px;
}

.user-item {
  margin-bottom: 15px;
}

.user-item img {
  width: 128px;
  height: 128px;
}